/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
  line-height: 1.5;

  width: 100%;
  margin: 0;

  display: flex;
  justify-content: center;

  padding:0;
}

body[data-theme="dark-fantasy"] {
  background-image: url("/images/dark-fantasy.png");
}

body[data-theme="epic-gold"] {
  background-image: url("/images/epic-gold.png");
}

body[data-theme="mystic-forest"] {
  background-image: url("/images/mystic-forest.png");
}

body[data-theme="frost-wind"] {
  background-image: url("/images/frost-wind.png");
}

body[data-theme="shadow-tech"] {
  background-image: url("/images/shadow-tech.png");
}

/* Container principal */
.app {
  width: 80vw;              /* ✅ 80% de la largeur écran */
  max-width: 1500px;        /* ✅ limite sur très grands écrans */
  min-width: 320px;         /* ✅ évite les écrans trop étroits */

  padding: 200px;
  border-radius: 14px;
}

/* Responsive tablette */
@media (max-width: 1024px) {
  .app {
    width: 90vw;
  }
}

/* Responsive mobile */
@media (max-width: 768px) {
  body {
    padding: 24px 0;
  }

  .app {
    width: 95vw;
    padding: 18px;
    border-radius: 12px;
  }
}

/* Titres */
h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Messages d’erreur */
.error {
  color: #b6002c;
  background: #ffe5ea;
  border-left: 4px solid #b6002c;
  padding: 10px 14px;
  margin-bottom: 20px;
  border-radius: 6px;
}
