/* ===== CONTAINER GLOBAL ===== */

.profile-container {
  max-width: 750px;
  margin: 60px auto;
  padding: 32px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 28px rgba(0,0,0,0.08);
  text-align: center;
}


/* ===== HEADER ===== */

.profile-header-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  gap: 25px;
}

.profile-header-left {
  display: flex;
  align-items: center;
  gap: 130px;
}


/* ===== AVATAR ===== */

.profile-avatar-big {
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #111;
}


/* ===== TEXT INFO ===== */

.profile-username {
  margin: 4px 0 0;
  font-size: 1rem;
  color: #666;
}

.profile-email {
  margin-top: 2px;
  font-size: 0.95rem;
  color: #444;
  font-weight: 500;
}


/* ===== LOGOUT BTN ===== */

.logout-btn {
  margin-left: auto;
  margin-right: 0;
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  background: #111;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: all .15s;
}

.logout-btn:hover {
  background: #333;
  transform: translateY(-1px);
}


/* ===== SECTIONS ===== */

.profile-section {
  margin-top: 34px;
  padding-top: 24px;
  border-top: 1px solid #eee;
  text-align: center;
}

.profile-section h3 {
  margin: 0 0 6px;
  font-size: 1.15rem;
}


/* ===== LABEL ACTUEL ===== */

.profile-current {
  margin: 0 0 10px;
  font-size: 0.95rem;
  color: #666;
}


/* ===== FORM INLINE ===== */

.profile-form-inline {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}


/* ===== INPUT ===== */

.profile-input {
  min-width: 250px;
  padding: 11px 14px;
  border-radius: 8px;
  border: 1px solid #d0d7de;
  background: #f6f7fd;
  font-size: 0.98rem;
  transition: border .2s, box-shadow .2s;
}

.profile-input:focus {
  outline: none;
  border-color: #6c63ff;
  box-shadow: 0 0 0 2px rgba(108, 99, 255, .18);
}


/* ===== SAVE BTN ===== */

.profile-save-btn {
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  background: #6c63ff;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.95rem;
  transition: all .15s;
}

.profile-save-btn:hover {
  background: #554cff;
  transform: translateY(-1px);
}


/* ===== IMAGE INPUT ===== */

.profile-image-label {
  cursor: pointer;
  font-size: 0.95rem;
  color: #333;
}

.profile-image-input {
  display: none;
}


/* ===== DELETE SECTION ===== */

.delete-section {
  margin-top: 45px;
  padding-top: 25px;
  border-top: 2px dashed #ddd;
}

.profile-delete-btn {
  padding: 12px 28px;
  border-radius: 8px;
  background: #d60000;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s;
}

.profile-delete-btn:hover {
  background: #a50000;
  transform: scale(1.03);
}
